@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: #f5f1f5 !important;
}

body,
html {
    overflow-x: hidden;
}

@media screen and (max-width:992px) {
    a.nav-link {
        margin-left: 0 !important;
        padding: 10px;
    }

    .row.column-reverse {
        flex-direction: column-reverse;
    }
}